.floating-button {
  border-radius: 1000px;

  border: 1px solid #cdcddc;
  box-shadow: none;

  outline: none;

  margin: 0px;
  padding: 0px;

  background-color: black;

  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  font-weight: 700;
  font-style: normal;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.floating-button:hover {
  text-decoration: underline;
}
